@tailwind base;
@tailwind components;
@tailwind utilities;

.light-mode {
    background-color: #4f3b3b;
    color: white
  }
  
  .dark-mode {
    background-image: linear-gradient(rgb(1, 1, 1), black, black);
    color: black;
  }

  
